.header {
  background-color: #F1F1F1;
  text-align: right;
  padding: 20px;
}
.footer {
  background-color: #F1F1F1;
  text-align: right;
  padding: 20px;
}
.column {
  float: left;
}
#container {
  text-align: left;
  padding: 12px 125px;
}

button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  display:inline-block;
  margin-left :10px;
}


/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}
input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}
textarea {
  height: 60px;
  width: 200px;
  flex: 0 0 200px;
  margin-left: 10px;
}
.form-style-2 label{
  display: block;
  margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}
.form-style-2 span.required{
  color:red;
}
.form-style-2 .tel-number-field{
  width: 40px;
  text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
  width: 48%;
}
